name: Update GitHub Pages

on:
  push:
    branches:
      - main  # или другая ветка, которую вы используете

jobs:
  update-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Trigger GitHub Pages rebuild
        run: |
          curl --fail --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/pages/builds \
          --header "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}"